*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}
